@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
 



.page{
  background-color: #696767;
  font-family: 'Roboto', sans-serif;
 }
 
.menu{
  right: 1000px;
  overflow-x: hidden ;
  padding-left: 30px;
  float:right;

}

.filmesassistidos{
  float:right;
  margin-left: 300px;
}

.filmesparaassisir{
  margin-left: 400px;
  float:right;
}

.list{
  background-color: #696767;
  color: #fff;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

