.carousel-item {
    max-width: 100%;
    max-height: 500px; /* Altura desejada das imagens */
}
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 10px 0;
}
.movie {
  flex: 0 0 auto;
  width: 200px;
  height: 300px;
  margin-right: 10px;
  scroll-snap-align: start;
  position: relative;
}

.movie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.movie:hover .overlay {
  opacity: 1;
}

.movie .overlay-text {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 760px) {
  .carousel {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 10px 0;
  }
  
  .movie {
    flex: 0 0 calc(33.33% - 10px);
    width: 200px;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    scroll-snap-align: start;
    position: relative;
  }  
  .movie {
      flex: 0 0 calc(50% - 10px);
    }
  }
  